
<style>
.tituloo{
font-size: 25px;
font-weight: bold;
}
.subbtitulo{
font-size: 20px;
font-weight: bold;
color: #EC5538;
text-align: center;
}
</style>

<div class="container" style="text-align: justify;">
 <div class="col-sm-12">
    <div class="brand">Hollister Co. International</div>
    <h2>Términos de venta</h2>
    <span class="updated-date">Actualización: marzo de 2020</span>

        
<p>
    Período extendido para la política de reembolso: las devoluciones recibidas, o las devoluciones hechas con una
        factura de pedido para compras hechas el 1 de febrero de 2020 o antes, pueden ser devueltas al tipo de
        licitación original hasta el 30 de junio de 2020, independientemente de la política de devoluciones que se
        establece en el dorso del recibo o factura.
</p>
<p>Estos son los términos y condiciones ("Términos de venta") que se aplican al comprar productos, tarjetas de regalo
    y/o tarjetas de regalo electrónicas ("mercancía") a través del sitio web de Hollister Co. ("HCo", "nos", "nosotros"
    o "nuestro"). Si realiza un pedido de mercancía y al menos una de las siguientes situaciones se aplica a usted,
    entonces confirma aceptar y quedar sujeto a estos Términos de venta: (i) usted realizó un pedido a través de
    HollisterCo.com (en una computadora de escritorio o teléfono móvil); (ii) usted realizó un pedido a través de la
    aplicación móvil de HCo; (iii) usted realizó un pedido a través de un micrositio de HCo; o (iv) por teléfono. Para
    el resto de los presentes Términos de venta, cualquier pedido que coincida con al menos una de las situaciones de la
    (i) a la (iv) mencionadas anteriormente puede ser considerado como un pedido comprado a través del "sitio web" de
    HCo.</p>
<p>Puesto que estos Términos de venta están sujetos a modificaciones, le recomendamos consultarlos cada vez que realice
    un nuevo pedido. Si tiene alguna pregunta sobre los Términos de venta y/o cualquier aspecto de su pedido,
    comuníquese con el Departamento de Atención al cliente de HCO por email a <a
        href="mailto:HollisterCo@HollisterCo.com">HollisterCo@HollisterCo.com</a> o por teléfono al <a
        href="tel:0880-297506">0880-297506</a> o al <a href="tel:+1-925-359-2568">+1-925-359-2568</a>.</p>
<div>
    <h3 class="subbtitulo">Pedidos y aceptación de los mismos</h3>
    
    <p>Cada parte de un pedido que envíe a HCo constituye una oferta de comprar mercancía. Si realizó su pedido a través
        del Sitio web de HCo, entonces, una vez que HCo lo haya recibido, usted recibirá un email de HCo confirmando la
        recepción del mismo (usualmente, en unos minutos). Si no recibiera dicho email de HCo con la confirmación de la
        recepción del pedido que realizó, comuníquese con el Departamento de Atención al Cliente de HCo a la información
        de contacto que aparece arriba, antes de volver a enviar el mismo pedido. Tenga en cuenta que la confirmación de
        recepción por parte de HCo no constituye la aceptación de su pedido.</p>
    <p>No se considera que HCo haya aceptado ninguna parte de su pedido hasta el momento en que la mercancía solicitada
        es enviada y HCo le envía un email con la confirmación de dicho envío. Puede hacer el seguimiento de la ruta de
        su pedido en la página <a href="/shop/wd/help/lookup-order" target="_blank">Ayuda sobre pedidos</a>.</p>
    <p>Si HCo lo rechaza por un error en el precio y/u otro tipo de información, HCo se lo notificará en la dirección de
        email que proporcionó. Una vez corregido el error, HCo le preguntará si desea volver a enviar el pedido.</p>
    <p>Si HCo le ha notificado que su pedido ha sido aceptado al enviarle un email de confirmación de envío, usted no
        deberá pagar un precio mayor al que figura en el total del pedido en el sitio web de HCo al momento de la
        realización del pedido.</p>
    <p>En determinadas ubicaciones, usted puede pagar un pedido con POLi, AstroPay, SafetyPay, Qiwi, Yandex o WebMoney.
        En dichos casos, el pago se aceptará una vez que se haya realizado el pedido de la compra total, incluidos los
        cargos de envío y manejo. Si pagó su pedido con POLi o AstroPay y decide cancelar una parte o la totalidad del
        mismo, recibirá un email con un enlace al que tendrá que ingresar para proporcionar los detalles necesarios del
        banco. Una vez que ocurra esto, usted recibirá un reembolso dentro de las próximas setenta y dos (72) horas
        hábiles.</p>
    <p>Si HCo ha distribuido mercancía que difiere de la descripción de la mercancía relevante (según aparezca en el
        Sitio web de HCo al momento de la realización del pedido), usted puede solicitar una devolución o un cambio.
        Recuerde que si paga su pedido con POLi, AstroPay, SafetyPay, Qiwi, Yandex o WebMoney, no podemos ofrecer la
        opción de cambio y usted solamente podrá devolver la mercancía por un reembolso. Para obtener más detalles,
        consulte la <a href="#returns-exchanges">Política de devoluciones y cambios</a> de HCo detallada más abajo.</p>
    <p>Aunque no es probable que HCo se niegue a aceptar un pedido, HCo se reserva el derecho de rechazar cualquier
        pedido por cualquier motivo, incluidas las siguientes situaciones:</p>
    <div>
        <h4>Error(es) en la facturación, el pago y/o la información de envío</h4>
        <p>Algunos pedidos no pueden procesarse a causa de información errónea que usted haya suministrado, lo que
            incluye, a título enunciativo:</p>
        <ul class="no-bullet-points">
            <li> Número de tarjeta de crédito/débito, fecha de vencimiento y/o código de seguridad de la tarjeta
                incorrectos.
             </li>
            <li> Información incorrecta en relación con las formas de pago. </li>
            <li> Información de facturación incorrecta (p.ej., si presentó información de facturación que no coincide
                con la que su institución financiera tiene en los registros). </li>
            <li> Información insuficiente o incorrecta acerca de su dirección de envío (por ejemplo, la calle, la
                ciudad, el estado, el código postal, etc.). </li>
            <li> Información presuntamente fraudulenta. </li>
        </ul>
    </div>
    <div>
        <h4 class="subbtitulo">Envíos demorados o mercancía no disponible</h4>
        <p>Si un artículo de mercancía está demorado en la salida de nuestro centro de distribución de HCo o ya no está
            disponible, o hay un error en nuestro sitio web relacionado con el pedido (p. ej., un error en el precio y/o
            descripción de la mercancía), HCo tendrá que cancelar el pedido. Si ocurre esto, HCo se comunicará con usted
            para que esté al tanto de la situación.</p>
    </div>
    <div>
        <h4>Reenvío de la mercancía</h4>
        <p>Las políticas de HCo no permiten que la mercancía sea reenviada de ninguna manera. No se aceptará ningún
            pedido enviado a una "empresa de transporte".</p>
    </div>
    <div>
        <h4>Reventa de la mercancía</h4>
        <p>HCo es una marca privada. Con el fin de proteger los derechos de propiedad intelectual de HCo, se prohíbe
            estrictamente cualquier posible reventa de la mercancía para generar ganancias personales y/o comerciales.
            HCo no aceptará ningún pedido con características de reventa. HCo se reserva el derecho de cancelar
            cualquier pedido subsiguiente de dichos clientes.</p>
    </div>
    <div>
        <h4>Historial de pedidos anteriores fraudulentos</h4>
        <p>HCo puede rechazar un pedido si sospecha de una actividad fraudulenta. HCo puede negarse a procesar cualquier
            pedido subsiguiente de un cliente con un historial de pedidos fraudulentos. HCo puede rechazar cualquier
            pedido relacionado con una disputa previa asociada con una tarjeta de crédito.</p>
    </div>
</div>
<div>
    <h3>Tarjetas de regalo y tarjetas de regalo electrónicas</h3>
    <p>Las tarjetas de regalo y tarjetas de regalo electrónicas solo pueden comprase y/o canjearse en dólares
        estadounidenses en el Sitio web de HCo.</p>
</div>
<div>
    <h3>Compromiso con HCo y sus afiliadas</h3>
    <p>HCo, Abercrombie & Fitch y abercrombie kids (en conjunto, la "Compañía") se reservan el derecho de bloquear la
        recepción de comunicaciones de marketing o eliminar y/o cancelar la suscripción, de todas las plataformas de la
        Compañía, de toda dirección de email, número de teléfono y/o dirección postal asociada con clientes que, según
        la Compañía, estén relacionados con la reventa y/o pedidos de clientes que la Compañía considere fraudulentos.
        Las plataformas de la Compañía que resultan afectadas por dicha eliminación y/o cancelación de suscripciones
        incluyen, pero no se limitan a: (i) cualquier cuenta online de la Compañía; (ii) listas de marketing por email;
        y/o (iii) listas de correo publicitario. Asimismo, se puede prohibir a los clientes afectados que tengan acceso
        a y/o se registren en cada una de las plataformas anteriormente mencionadas en el futuro.</p>
</div>
<span style="display: block; position: relative; top: -95px;" id="returns-exchanges"></span>
<div>
    <h3>Devoluciones y cambios</h3>
    <p><b>las devoluciones recibidas, o las devoluciones hechas con una factura de pedido para compras hechas el 1 de
            febrero de 2020 o antes, pueden ser devueltas al tipo de licitación original hasta el 30 de junio de 2020,
            independientemente de la política de devoluciones que se establece en el dorso del recibo o factura.</b></p>
    <p>Si no está satisfecho con su compra, devuélvanos la mercancía para que se la cambiemos o le otorguemos un
        reembolso de conformidad con los siguientes términos.</p>
    <ul class="no-bullet-points">
        <li>
            <p>En el caso de los pedidos realizados el 24 de enero de 2019 o luego de esa fecha, la mercancía debe ser
                devuelta dentro de los 60 días de la fecha de envío del pedido para recibir un reembolso completo
                mediante el método de pago del pedido original. Si hay múltiples envíos en un pedido, entonces la
                mercancía debe ser devuelta dentro de los 60 días de la fecha del último envío. El período de devolución
                de 60 días se aplicará a los diferentes métodos de devolución que se indican a continuación:</p>
            <ul class="no-bullet-points">
                <li> Devolución a una tienda: debe realizar la devolución dentro de los 60 días de la fecha del envío.
                </li>
                <li> Devolución mediante nuestro proceso de devoluciones y cambios online: debe comenzar la devolución
                    dentro de los 60 días de la fecha de envío. </li>
                <li> Devolución fuera del proceso de devoluciones y cambios online: el Departamento de Devoluciones de
                    Hollister Co. debe recibir la mercancía dentro de los 60 días de la fecha de envío. </li>
            </ul>
        </li>
        <li>
            <p>Para la mercancía devuelta luego del período de devolución de 60 días se emitirá un crédito para
                mercancía según el monto del pago original. Para las devoluciones online enviadas a la dirección del
                Departamento de Devoluciones, el crédito en mercancía se emitirá mediante una tarjeta de regalo
                electrónica enviada a la dirección de email asociada con el pedido.</p>
        </li>
        <li>
            <p>Los pedidos que se realicen antes del 24 de enero de 2019 no están incluidos en los cambios de arriba y
                se reembolsará el dinero en la forma de pago original cuando se entregue el recibo de la mercanciía en
                el caso de las devoluciones online y en la tienda.</p>
        </li>
        <li>
            <p>Para devolver o cambiar su mercancía en línea, visite la página <a href="/shop/wd/help/startmyreturn"
                    target="_blank">Iniciar mi devolución</a> para comenzar con el proceso ahora. Usted es responsable
                de los costos de envío de la devolución.</p>
    </ul>
    <p>Ya sea que desee devolver o hacer un cambio, puede enviarnos la mercancía de vuelta a:</p>
    <p>Departamento de Devoluciones de Hollister Co. <br>100 Hollister Co. Way <br>New Albany, OH 43054 USA</p>
    <p>Si va a realizar un cambio, asegúrese de incluir el nombre completo del artículo, el tamaño y el color de cada
        artículo nuevo en la factura original. Tenga en cuenta que hay mercancía que no está en stock y que la mercancía
        que solo está disponible online no está a la venta en las tiendas.</p>
    <p>Cuando haya procesado su devolución, recibirá una notificación por email con información relacionada.</p>
    <p>Los cambios que se envían a la dirección del departamento de devoluciones únicamente se procesan para las compras
        con tarjeta de crédito y/o tarjeta de regalo o tarjeta de regalo electrónica; de lo contrario se emitirá un
        reembolso. Es posible que la mercancía que está en stock no tenga el mismo precio que un cambio y puede haber
        una diferencia en el precio. Cualquier diferencia en el precio por un cambio se reembolsará en la tarjeta de
        crédito y/o se otorgará un crédito nuevo en mercancía si el pago original se hizo con una tarjeta de regalo o
        tarjeta de regalo electrónica.</p>
    <p>La mercancía debe ser devuelta en su embalaje individual original donde corresponda (p. ej. fragancias, calzado o
        cajas de accesorios, etc.).</p>
    <p>Otorgamos reembolso por toda mercancía que se nos devuelva en condiciones de ser vendida, con una copia de su
        factura original, mediante el método de pago del pedido original, si se envía un email a la dirección indicada
        más arriba.</p>
    <p>Los pedidos que se realicen en este sitio deben ser facturados en dólares estadounidenses o deben cambiarse en
        una tienda de EE. UU.</p>
    <p>Si su pedido se envió fuera de EE. UU. continental, usted será responsable de seleccionar su propio servicio de
        mensajería y todos los costos de devolución del envío.</p>
    <div>
        <h5>Calidad de su mercancía</h5>
        <p>Si considera que su mercancía de HCo es defectuosa, está dañada o no se ajusta a la descripción de nuestro
            sitio web, llámenos al <a href="tel:0800-297506">0800-297506</a> o al <a
                href="tel:+1-925-359-2568">+1-925-359-2568</a>.</p>
    </div>
</div>
<div>
    <h3>Cancelación y modificación de pedidos efectuados por el cliente</h3>
    <p>Usted puede modificar o cancelar su pedido en cualquier momento antes de que sea empacado en el centro de
        distribución de HCo. Para modificar o cancelar su pedido, comuníquese con el Departamento de Atención al cliente
        de HCo por email a <a href="mailto:HollisterCo@HollisterCo.com">HollisterCo@HollisterCo.com</a> o por teléfono
        al <a href="tel:0800-297506">0800-297506</a> o al <a href="tel:+1-925-359-2568">+1-925-359-2568</a>.</p>
    <p>Si realizó un pedido en este sitio web y ya lo han empaquetado, puede hacer su devolución o cambio de mercancía
        de conformidad con la <a href="#returns-exchanges">Política de devoluciones y cambios</a> en línea detallada
        arriba.</p>
    <p>Si realizó un pedido en este sitio web, lo pagó en una moneda que no es dólares estadounidenses y el pedido ya ha
        sido empaquetado, puede hacer la devolución o cambio de su mercancía para recibir un reembolso o un reemplazo al
        enviárnosla de vuelta (sujeto a los términos de la <a href="#returns-exchanges">Política de devoluciones y
            cambios</a> de HCo detallada más arriba).</p>
    <p>Todas las ventas de tarjetas de regalo y tarjetas de regalo electrónicas son definitivas. Todas las ventas de
        tarjetas de regalo y tarjetas de regalo electrónicas están sujetas a los términos especificados en las secciones
        "Detalles de la tarjeta de regalo" (en la página Tarjeta de regalo) y "Detalles de la tarjeta de regalo
        electrónica" (en la página Tarjeta de regalo electrónica), respectivamente.</p>
    <p>Si pagó su pedido con POLi, AstroPay, SafetyPay, QIWI, Yandex o WebMoney, su única opción es devolver o cambiar
        la mercancía por un reembolso o reemplazo.</p>
    <p>Si pagó su pedido con POLi, SafetyPay, QIWI, Yandex or WebMoney y desea cancelarlo, usted recibirá un reembolso
        dentro de las próximas setenta y dos (72) horas hábiles.</p>
    <p>Si pagó su pedido con POLi Payments o AstroPay y desea cancelarlo, usted recibirá un email con un enlace al que
        tendrá que ingresar con el fin de suministrar los datos bancarios que sean necesarios. Una vez que ocurra esto,
        usted recibirá un reembolso dentro de las próximas setenta y dos (72) horas hábiles.</p>
    <p>Todos los reembolsos serán emitidos en la misma moneda en la cual el pedido fue realizado.</p>
    <div>
        <h4>Mercancía en pedido pendiente</h4>
        <p>La mercancía en pedido pendiente se encuentra temporalmente fuera de stock. Si HCo no puede enviar mercancía
            en pedido pendiente dentro de los siete (7) días después de la fecha en que se envío el email del artículo
            en pedido pendiente, HCo le enviará una notificación a la dirección de email que ha proporcionado. No se le
            cobrará la mercancía en pedido pendiente hasta que haya sido enviada. El manejo y envío correspondientes a
            cada artículo de un pedido se distribuyen de modo que el monto es directamente proporcional al costo de un
            artículo; no se le cobrará el monto proporcional pertinente hasta que el respectivo artículo haya sido
            enviado. Todos los artículos serán enviados mediante el servicio de envío que usted haya seleccionado al
            momento de realizar el pedido. El estado de un artículo pendiente permanecerá abierto en un pedido hasta
            que: (i) la mercancía esté en stock, HCo haya recibido el pago y HCo haya enviado la mercancía; (ii) HCo se
            haya comunicado con usted para informarle sobre la cancelación de un artículo; o (iii) usted se comunique
            con HCo con el fin de modificar o cancelar su pedido.</p>
    </div>
</div>
<div>
    <h3>Precios y pagos</h3>
    <p>HCo puede modificar el precio de la mercancía en cualquier momento. Una vez que HCo haya aceptado un pedido, HCo
        no alterará el precio (a excepción de aquella mercancía elegible para un ajuste de precio).</p>
    <div>
        <h4>Ajustes de precio</h4>
        <p><b>Pedidos que se envían a los EE. UU. y/o Canadá:</b> si usted pidió mercancía a través del Sitio web de HCo
            y HCo ha reducido el precio de cualquiera de los artículos involucrados (de igual color y talla) en su
            pedido, HCo no tendrá inconvenientes en procesar un ajuste de precio para usted. Tenga en cuenta que puede
            hacer esto únicamente dentro de los catorce (14) días posteriores a la fecha de realización de su pedido.
            HCo ofrece ajustes de precio únicamente para mercancía comprada al precio original. Cada artículo que compre
            a HCo es elegible para un (1) solo ajuste de precio. Para solicitar un ajuste de precio, comuníquese con el
            Departamento de Atención al cliente de HCo por email a <a
                href="mailto:HollisterCo@HollisterCo.com">HollisterCo@HollisterCo.com</a> o por teléfono al <a
                href="tel:0800-297506">0800-297506</a> o al <a href="tel:+1-925-359-2568">+1-925-359-2568</a>. Recuerde
            incluir su número de pedido y otros detalles relacionados con la mercancía que, a su criterio, sea elegible
            para un ajuste de precio.</p>
    </div>
    <div>
        <h4>Pagos</h4>
        <p>Cuando pague un pedido con tarjeta de crédito, HCo se reserva el derecho de solicitar evidencia adicional que
            confirme su información de facturación. Tenga en cuenta que todos los pagos con tarjeta de débito se
            procesarán en forma de crédito. El cargo de su pedido aparecerá en el estado de cuenta de su tarjeta de
            crédito como "ANF*HollisterCo.com". Si tiene alguna objeción sobre la validez y/o el monto de un cargo
            relacionado con un pedido realizado a HCo y considera que el mismo es fraudulento, comuníquese con HCo por
            email a <a href="mailto:Hollister_OrderService@HollisterCo.com">Hollister_OrderService@HollisterCo.com</a>.
        </p>
        <p>En este momento:</p>
        <ul class="no-bullet-points">
            <li> Los pagos con JCB, American Express, Discover, AstroPay, Yandex, Qiwi y/o WebMoney solo se pueden hacer
                en dólares estadounidenses. </li>
            <li> SafetyPay está disponible para euros o dólares estadounidenses. </li>
            <li> POLi está disponible en dólares australianos, neocelandeses y estadounidenses. </li>
            <li> Los pagos con PayPal, VISA y MasterCard están disponibles en cualquiera de las monedas aceptadas en
                este sitio web </li>
        </ul>
        <p>Si desea cambiar la moneda que eligió después de haber realizado un pedido, comuníquese con el Departamento
            de Atención al cliente de HCo por email a <a
                href="mailto:HollisterCo@HollisterCo.com">HollisterCo@HollisterCo.com</a> o por teléfono al <a
                href="tel:00800 2000 1009">00800 2000 1009</a> o al <a href="tel:+1-925-359-2568">+1-925-359-2568</a>.
            El Sitio web de HCo ofrece productos en múltiples tipos de monedas. Si usted realizó un pedido en el Sitio
            web de HCo y lo pagó en una moneda que no sea dólares estadounidenses, tenga en cuenta que es posible que se
            aplique un cargo por conversión de divisas al precio de la mercancía. Debido al hecho de que las tasas de
            conversión de divisas pueden fluctuar con el paso del tiempo, tenga en mente que es posible que el precio en
            dólares estadounidenses de una mercancía dada no sea congruente con el precio de la misma mercancía en una
            moneda diferente.</p>
        <p>Si realizó un pedido en este sitio web y lo pagó en una moneda que no coincide con la de su tarjeta de pago,
            tenga en cuenta que es posible que el proveedor de su tarjeta de pago aplique la conversión del tipo de
            cambio al monto de su reembolso. Asimismo, tenga en cuenta que las tasas de conversión de divisas pueden
            fluctuar con el paso del tiempo.</p>
        <p>HCo aplicará todo el peso de la ley a cualquier actividad fraudulenta que esté relacionada con la revocación
            de un cargo válido de un pedido procesado y entregado al cliente. En el caso de que su pedido haya sido
            cancelado, cualquier "retención de autorización" se levantará de su cuenta dentro de un período de entre
            tres (3) y cinco (5) días hábiles.</p>
    </div>
</div>
<div>
    <h3>Entrega</h3>
    <p>Los cargos de envío y manejo dependerán del valor de su pedido, el país al que se envíe la mercancía y la fecha
        de entrega que usted haya solicitado. Puede tener acceso a una lista con los cargos de envío y manejo así como a
        los términos de entrega de HCo en la página <a href="/shop/wd/help/shipping-handling" target="_blank">Manejo y
            envío</a>.</p>
</div>
<div>
    <h3>Limitación de responsabilidad</h3>
    <p class="large-bold-text">Bajo ninguna circunstancia HCo se responsabilizará ante ninguna de las partes por
        cualquier daño directo, indirecto, fortuito, especial, resultante y/o punitivo relacionado con la venta de
        mercancía. </p>
    <p>En ciertas jurisdicciones, no se permiten las limitaciones de responsabilidad. En tales jurisdicciones, es
        posible que no se apliquen las limitaciones de responsabilidad antes mencionadas.</p>
</div>
<div>
    <h3>Eventos fuera de nuestro control</h3>
    <p>Un evento fuera de nuestro control significa cualquier evento o causa más allá del control razonable de A&F,
        incluidos, entre otros: (i) epidemia, pandemia, hambruna, terremotos, inundaciones, guerra, terrorismo, ya sea
        extranjero o nacional, evento(s) abrumador(es) causado(s) por fuerzas naturales, temperaturas extremas u otro
        desastre natural; (ii) actos de autoridad civil o militar, levantamientos, disturbios, huelgas, incendios o
        explosiones; (iii) piquetes, paros o escasez laboral; o (iv) interrupción o retrasos de transporte, escasez o
        falla en el suministro de materias primas o mercancía terminada, cortes de energía, cortes de telecomunicaciones
        o cualquier otro sistema intermedio, software o servicio no operado por A&F (en conjunto, "Evento de fuerza
        mayor").</p>
    <p>Si ocurre un Evento de fuerza mayor, no nos haremos responsables ante usted o ante un tercero por cualquier
        pérdida, daño, retraso, responsabilidad, gasto o costo relacionado o causado por un evento de estas
        características. </p>
</div>
<div>
    <h3>Términos y recursos adicionales</h3>
    <p>Si pidió mercancía a través del Sitio web de HCo, su uso del mismo queda sujeto a los <a
            href="/shop/CustomerService?pageName=site-use&storeId=11205&textKey=LEGAL_SITE_USE&catalogId=10201&langId=-1002"
            target="_blank">Términos de uso del Sitio web</a>. Toda información de identificación personal que usted
        haya suministrado a HCo a través del Sitio web de HCo queda sujeta a la <a
            href="/shop/CustomerService?pageName=privacy&storeId=11205&textKey=LEGAL_PRIVACY_POLICY&catalogId=10201&langId=-1002"
            target="_blank">Política de privacidad</a>.</p>
    <p>HCo tiene sus oficinas en el estado de Ohio y desde allí controla su Sitio web. Estos Términos de venta serán
        regidos por las leyes del estado de Ohio, sin dar lugar a las disposiciones relativas a los conflictos de leyes.
        Los Términos de venta aquí expresados tienen fuerza ejecutoria únicamente para HCo y sus clientes. Si se
        determina que alguna cláusula de estos Términos de venta no puede ser cumplida, el término que contenga dicha
        cláusula será eliminado y los demás términos seguirán estando vigentes.</p>
</div>
</div>
    </div>
</div>