  <style>
   .thumbnail {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
   transition: 0.3s;
   min-width: 40%;
   border-radius: 5px;
 }

 .thumbnail-description {
   min-height: 40px;
 }

 .thumbnail:hover {
   cursor: pointer;
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
 }
 </style>
 
 
 <div class="page-title" style="background-image: url(images/page-title.png)">
        <h1>Zapatos</h1>
</div>

    <div class="container "style="margin-top: 30px;">
     <div class="row">
        {{#each zapatos}}
        <div class="col-md-4">
         <div class="thumbnail"  >
          <div class="caption text-center" onclick="/detalle/{{id}}">
            <div class="position-relative">
            <img src="/images/Camisas/{{imagen}}" class="card-img-top"  style="height:150px; weight:150px;"  alt="10px">
            </div> 
               <h4>{{nombre}}</h4>
            <div class="thumbnail-description smaller"><h4>${{precio}}</h4></div>
          </div>
          <div class="caption card-footer text-center">
            <ul class="list-inline">
              <li><button class="btm btn-primary">Ver detalles</button></li>
              <li></li>
              <li><i class="glyphicon glyphicon-envelope lighter"></i><a href="#">&nbsp;Help</a></li>
            </ul>
          </div>
         </div>
        </div>
          {{/each}}
       </div>
    </div>