<style>
  .thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    min-width: 40%;
    border-radius: 5px;
  }

  .thumbnail-description {
    min-height: 40px;
  }

  .thumbnail:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
  }


  .botonimagen{
  background-image:url(images/pp.png);
  background-repeat:no-repeat;
    background-color: #fff;
          
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    height: 50px;
    width: 300px;
   
}
</style>


<div class="page-title" style="background-image: url(images/page-title.png);">
  <h1>Bolsa de Compras</h1>
</div>

<div class="" >
  <h1>No tiene productos agregados en su bolsa</h1>
</div>