<div class="page-title" style="background-image: url(images/page-title.png);">
  <h1>Bolsa de Compras</h1>
</div>

<div style="text-align: center; padding:20px" >
  <h1 style="color: #EC5538; margin:20px" >¡Agrega productos a tu bolsa de compras!</h1>
</div>