<style>
  .thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;

    border-radius: 5px;
  }

  .thumbnail-description {
    min-height: 40px;
  }


  /*custom font*/
  @import url(https://fonts.googleapis.com/css?family=Montserrat);

  /*basic reset*/
  * {
    margin: 0;f
    padding: 0;
  }

  html {
    height: 100%;
    /*Image only BG fallback*/

    /*background = gradient + image pattern combo*/
    background:
      linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  /*form styles*/
  #msform {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
  }

  #msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
  }

  /*Hide all except first fieldset*/
  #msform fieldset:not(:first-of-type) {
    display: none;
  }

  /*inputs*/
  #msform input,
  #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
  }

  /*buttons*/
  #msform .action-button {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
  }

 

  /*headings*/
  .fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
  }

  .fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
  }

  /*progressbar*/
  #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
  }

  #progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
  }

  #progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
  }

  /*progressbar connectors*/
  #progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
    /*put it behind the numbers*/
  }

  #progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
  }

  /*marking active/completed steps green*/
  /*The number of the step and the connector before it = green*/
  #progressbar li.active:before,
  #progressbar li.active:after {
    background: #27AE60;
    color: white;
  }

 .Fondo{
    background: #27AE60;
background-image: url(images/pexels.jpg);


 } 
 .Log{
   width: 600px;
  
 }

 .nj{
   width: 100px;
   height: 100px;
   display: block;
   margin: auto;
 }
 .hol{
    width: 100px;
   height: 100px;
   right: 100px;
 }
 .fil{
  
 }
 .conn{
   display:inline-flex ;
 }

 .pag{
   color:white;
   font-size: 30px;
   margin-bottom: 20px;
   margin-top: 0;
   margin-

 }
 .gridd{
   display: grid;
   grid-template-columns: repeat(2,50%);
 }
 *::-webkit-input-placeholder {
    /* Google Chrome y Safari */
     font-family: sans-serif;
}
</style>

<div class="row Fondo">
  <form  action="/registro" method="POST" id="msform">
    <!-- progressbar -->
    <!-- fieldsets -->

 <div class="row">
    <h1 class="pag" style="margin-bottom: 20px;">Registro</h1>

</div>
    <fieldset class="fil" style="width: 900px; position:relative; right: 280px;">
    
<div class="gridd">
  <div style="margin-right:10px">
           <div class="conn" style="margin-bottom: 30px;">
         <div>
           <img src="images/registro.png" style="max-width:100%;width:70px;height:70px;">
         </div>
         <div>
           <h2 class="fs-title" style="position: relative; top: 10px; left:15px">Datos Personales</h2>
         </div>

       </div>
      
       <input type="text" name="correo" placeholder="Email" />
       <input type="password" name="password" placeholder="Password" />
       <input type="text"onKeyPress="return soloLetras(event);" name="nombre" placeholder="Nombre" />
       <input type="text"onKeyPress="return soloLetras(event);"  name="apellido" placeholder="Apellido" />
      
  </div>
  <div>
        <div class="conn" style="margin-top: 10px; margin-bottom:30px">
         <div>
           <img src="images/calendario.png" style="max-width:100%;width:60px;height:60px;">
         </div>
         <div>
             <h2 class="fs-title"  style="position: relative; left:10px">Fecha de Nacimiento</h2>
         </div>

       </div>
    
       <input id="date" type="date" name="date">
       <textarea type="text"onKeyPress="return soloLetras(event);"  name="Direccion" placeholder="Direccion" ></textarea>
       <input type="text"onKeyPress="return soloLetras(event);"  name="Ciudad" placeholder="Ciudad" />
       <input type="text"onKeyPress="return soloNumeros(event);"  name="Celular" placeholder="Celular" />
       <input type="text"onKeyPress="return soloNumeros(event);"  name="Telefono" placeholder="Telefono" />  
  </div>
</div>

  
       <button type="submit" class="btn btn-primary">Continuar</button>
    </fieldset>
  </form>



</div>
<script>

  //Se utiliza para que el campo de texto solo acepte letras
function soloLetras(e) {
    key = e.keyCode || e.which;
    tecla = String.fromCharCode(key).toString();
    letras = " áéíóúabcdefghijklmnñopqrstuvwxyzÁÉÍÓÚABCDEFGHIJKLMNÑOPQRSTUVWXYZ";//Se define todo el abecedario que se quiere que se muestre.
    especiales = [8, 37, 39, 46, 6]; //Es la validación del KeyCodes, que teclas recibe el campo de texto.

    tecla_especial = false
    for(var i in especiales) {
        if(key == especiales[i]) {
            tecla_especial = true;
            break;
        }
    }

    if(letras.indexOf(tecla) == -1 && !tecla_especial){
     
        return false;
      }
}
     // La siguiente funcion valida el elemento input
function SoloNumeros(evt){
 if(window.event){//asignamos el valor de la tecla a keynum
  keynum = evt.keyCode; //IE
 }
 else{
  keynum = evt.which; //FF
 } 
 //comprobamos si se encuentra en el rango numérico y que teclas no recibirá.
 if((keynum > 47 && keynum < 58) || keynum == 8 || keynum == 13 || keynum == 6 ){
  return true;
 }
 else{
  return false;
 }
}
</script>

<!-- multistep form -->